In [50]:
import sys
sys.path.append('/usr/local/lib/python3.9/site-packages/')


import seaborn as sns
import bisect
import math
import matplotlib as plt
import pandas as pd
from pandas import Series,DataFrame
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import copy
import json
import lxml
from lxml import objectify 
from datetime import datetime
import scipy
from dateutil.parser import parse

In [51]:
#Time series type data
now=datetime.now()
print (now)

#datetime object
print(now.year,now.minute,now.second)

#timedelta, datetime is in decending oder from year
time1=datetime(2018,7,3)
time2=datetime(2019,7,2,3,4,5)
print (time1)
print (time2)

td=time1-time2
print (td)
time3=datetime(2020,1,2)
time3+=td
print (time3)

2021-05-13 14:26:43.153943
2021 26 43
2018-07-03 00:00:00
2019-07-02 03:04:05
-365 days, 20:55:55
2019-01-02 20:55:55

In [62]:
#many ways to write times, conert with strptime
time='2011-2-24'
#I think Y is for full year
dd=datetime.strptime(time,"%Y-%m-%d")
print (dd)

#parse can usually magically figure it out
print (parse(time))
print (parse("4/3/97 6:35 pm"))
print (parse("June 24 1950 at 14:50"))
#for Euros
print (parse("4/3/97 6:35 pm",dayfirst=True))

2011-02-24 00:00:00
2011-02-24 00:00:00
1997-04-03 18:35:00
1950-06-24 14:50:00
1997-03-04 18:35:00

In [109]:
daterange=pd.date_range("2011/2/1",periods=10)
timeframe=pd.DataFrame({"snarf":np.random.uniform(0,1,10),"glorp":np.random.uniform(0,1,10)},index=['2011-02-01', '2011-02-02', '2011-02-03', '2011-02-04',
               '2011-02-05', '2011-02-06', '2011-02-07', '2011-02-08',
               '2011-02-09', '2011-02-10'],)
print (timeframe)
timeframe.index=pd.DatetimeIndex(timeframe.index)
print (timeframe.columns)
timeframe.columns=[["test","test"],['snarf', 'glorp']]
print(timeframe)
timeframe.loc["2011/02/02":"2011/02/05"]

               snarf     glorp
2011-02-01  0.867950  0.474523
2011-02-02  0.440988  0.981427
2011-02-03  0.807466  0.797143
2011-02-04  0.357037  0.012501
2011-02-05  0.384623  0.075130
2011-02-06  0.353309  0.097707
2011-02-07  0.103245  0.077879
2011-02-08  0.893074  0.267317
2011-02-09  0.261848  0.027501
2011-02-10  0.085767  0.432480
Index(['snarf', 'glorp'], dtype='object')
                test
               snarf     glorp
2011-02-01  0.867950  0.474523
2011-02-02  0.440988  0.981427
2011-02-03  0.807466  0.797143
2011-02-04  0.357037  0.012501
2011-02-05  0.384623  0.075130
2011-02-06  0.353309  0.097707
2011-02-07  0.103245  0.077879
2011-02-08  0.893074  0.267317
2011-02-09  0.261848  0.027501
2011-02-10  0.085767  0.432480

                test
               snarf     glorp
2011-02-02  0.440988  0.981427
2011-02-03  0.807466  0.797143
2011-02-04  0.357037  0.012501
2011-02-05  0.384623  0.075130