In [49]:
import sys
sys.path.append('/usr/local/lib/python3.9/site-packages/')
import numpy as np
data=[]
for ii in range(44):
    data.append(ii)
data = np.array(data)
print (data)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43]

In [1]:
#isinstace for datatype checking
data={}
for ii in range(44):
    data[str(ii)]= ii
print (data)
print (type(data))
print (isinstance(data,dict))
print (isinstance(data,int))

{'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10, '11': 11, '12': 12, '13': 13, '14': 14, '15': 15, '16': 16, '17': 17, '18': 18, '19': 19, '20': 20, '21': 21, '22': 22, '23': 23, '24': 24, '25': 25, '26': 26, '27': 27, '28': 28, '29': 29, '30': 30, '31': 31, '32': 32, '33': 33, '34': 34, '35': 35, '36': 36, '37': 37, '38': 38, '39': 39, '40': 40, '41': 41, '42': 42, '43': 43}
<class 'dict'>
True
False

In [2]:
a="foo"
print(a.find("f"))
print(a)
gg=getattr(a,'find')
print(gg("o"))

0
foo
1

In [3]:
#mutable means changeabe, immutable means not
mute = ["taco",1,[4,5,8]]
print(mute)
mute[0]=2
print(mute)
immute = ("taco",1,[4,5,8])
print (immute)
print(immute[0])
#immute[0]=2
#print(immute[0])

['taco', 1, [4, 5, 8]]
[2, 1, [4, 5, 8]]
('taco', 1, [4, 5, 8])
taco

In [37]:
#Scalar means single value objects
Sn=None
Si=int
Sf=float
Sb=bytes
Sbo=bool

In [46]:
string="tacos"
string1="""aaaaaaa
1
2
1
"""
print (string1.count('2'))
print (string1[0])
print (string1[3:-4])

1
a
aaaa
1

In [54]:
string2="this\tstring\\\\sucks"
string3=r"this\tstring\\\\sucks"

print (string2)
print (string3)

this	string\\sucks
this\tstring\\\\sucks

In [53]:
#tenary expressions
ten=5 if False else 6
print(ten)

6